<div id='menuBar' class="fixed right-0 top-0 w-56 h-full bg-green-500" hidden>
  <button id='closeMenu' class="close-btn">
    <%= image_tag 'arrow-right', class:'h-7 ml-5 text-white mt-10 mb-10'%>
  </button>
  <div class="h-3/4 flex flex-col justify-between">
    <%= link_to 'Ledgers', ledgers_path, class:"menu-btn" %>
    <%= link_to 'Account', ledgers_path, class:"menu-btn" %>
    <%= link_to 'Ledgers', ledgers_path, class:"menu-btn" %>
    <%= link_to 'Ledgers', ledgers_path, class:"menu-btn" %>
    <%= link_to 'Ledgers', ledgers_path, class:"menu-btn" %>
  </div>
</div>

