<div class="">
  <h1>Create new Account</h1>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-16 my-4 py-8" style="justify-items:center">
    <% @accounts.each do |account| %>
      <%= link_to ledger_account_path(account.ledger, account) do %>
        <div class="flex flex-col justify-around bg-white w-40 h-40 items-center rounded rounded-xl">
          <img src="" alt="" class="w-25 h-25">  
          <h3> <%= account.name %> </h3>
          <p>Net value: <%= account.net_account %></p>
        </div>
      <% end %>
    <% end %>
  </div>

</div>

<!-- Trigger/Open The Modal -->
<button id="myBtn" class="w-12 h-12 rounded-full bg-green-500 text-white">+</button>

<!-- The Modal -->
<%# <div id="myModal" class="modal"> %>
<div id="myModal" class="hidden fixed z-10 left-0 top-1/3 w-full h-full overflow-auto">

  <!-- Modal content -->
  <%# <div class="modal-content w-4/5 bg-gray-200 border-red-500 p-20 mt-64 mx-auto"> %>
  <div class="flex flex-col w-4/5 bg-gray-200 border-red-500 p-10  mx-auto">
    
    <div class="w-full flex justify-between">
      <p>Some text in the Modal..</p>
      <span class="close">&times;</span>
    </div>
    
    <div>
    <%= form_with(model: @account, url: ledger_accounts_path, local: true) do |form| %>
      <%= form.label :name %>
      <%= form.text_field :name %>
      <%= form.submit %>
    <% end %>
    </div>
  </div>

</div>

<%= javascript_pack_tag 'modal' %>